<input type="checkbox" name="toggle" id="toggle" />
<label id="group_n" for="toggle">
  {{#each selectedChannel}}
      {{name}}
  {{/each}}
</label>
<div class="wrapper">
  {{#ifCondChl myself v2}}
      <div class="nav_admin row">
          <div class="col s3">

          </div>
          <div class="col s9">
              <ul id="adminBar" class="icon_admingr search">
                <li><a href="#admin_channel"><i class="material-icons">list</i></a></li>
                <li><a href="#del_channel"><i class="material-icons">delete</i></a></li>
              </ul>
          </div>
      </div>
  {{else}}
  <div class="nav_admin row">
      <div class="col s6 offset-s4 users_in_group">
          {{#each selectedGroupUsers}}
              <img src="/images/{{avatar}}" class="responsive-img tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{user}}">
          {{/each}}
      </div>
      <div class="col s2">
          <ul id="adminBar" class="icon_admingr search">
            <li><a href="#quit_channel" alt="Quit the channel ?"><i class="material-icons">delete</i></a></li>
          </ul>
      </div>
  </div>
  {{/ifCondChl}}

  <div id="relation" hidden>{{#each selectedChannel}}{{name}}{{/each}}</div>
  <div id="relation_me" hidden>{{user.username}}</div>

  <div class="wrap">

    <section id="conversation" class="friend_infos">

    </section>
    <section class="console">

      <div class="row send">
          <div class="row utilities">
              <div class="col s10">

              </div>
              <div class="col s1"><a href="#"><i class="material-icons">emojis</i></a></div>
              <div class="col s1"></div>
          </div>
          <div class="col s11">
              <input id="data" type="text" data-emojiable="true">
          </div>
          <div class="col s1">
              <a id="datasend" href="#"><i class="material-icons">replay</i></a>
          </div>
      </div>

    </section>
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socket_front.js"></script>
<script src="/javascripts/date_utils.js"></script>

<!-- Modals USERS -->
<div id="quit_channel" class="modal">
  <div class="modal-content">
    <h4>Quit this channel</h4>
    <p>Are you sure you want to quit this channel : {{#each selectedChannel}}{{name}}{{/each}} ?</p>
    <input id="chname_quit" type="hidden" value="{{#each selectedChannel}}{{name}}{{/each}}">
    <input id="chuser_quit" type="hidden" value="{{myself}}">
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat validate">Yes</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
  </div>
</div>

<!-- Modals ADMIN -->
<div id="del_channel" class="modal">
  <div class="modal-content">
    <h4>Delete this channel</h4>
    <p>Are you sure you want to delete the channel : {{#each selectedChannel}}{{name}}{{/each}} ?</p>
    <input id="chname_del" type="hidden" value="{{#each selectedChannel}}{{name}}{{/each}}">
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn-flat validate">Yes</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
  </div>
</div>

<div id="admin_channel" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Channel members</h4>
    {{#each selectedChannelUsers}}
        <div class="row">
            <div class="col s1 offset-s1"><img src="/images/{{avatar}}" class="responsive-img"></div>
            <div class="col s3">{{user}}</div>
            <div class="col s1 offset-s5">
                <div class="del">
                    <a href="#!" id="{{user}}" class="channel_member"><i class="material-icons">delete</i></a>
                </div>
            </div>
        </div>
    {{/each}}
  </div>
</div>
