<div class="wrapper" style="overflow-y: scroll; height:100%;">
    <div class="wrap">
      <section id="conversation" class="friend_infos">
          {{#each selectedUser}}
              <img src="/images/{{avatar}}" class="responsive-img">
              <p class="username">{{username}}</p>
          {{/each}}

          <div class="test" hidden>{{user.username}}</div>
          <div id="relation" hidden>{{#each selectedRelation}}{{relation}}{{/each}}</div>
          <div id="relation_me" hidden>{{user.username}}</div>



      </section>

      {{> chat/console}}

    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socket_front.js"></script>
<script src="/javascripts/date_utils.js"></script>
